.tracker-container {
    width: 90%;
    margin: auto;
}

.tracker-container > * {
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
}

.pills {
    border-radius: 1rem;
    padding: 0.4rem;
    color: white;
    text-align: center;
}

.green {
    background-color: green;
}
.red {
    background-color: red;
}

.expense-form-container {
    width: 600px;
    padding: 1rem 2rem;
    background-color: #d8d5d5;
}

.expense-form-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    text-decoration: underline;
}

.filters-container {
    margin: 50px 0;
}

.filters-container > button {
    margin-left: 30px;
    cursor: pointer;
}

.filters-pills {
    border: 1px solid #d8d5d5;
    outline: none;
    background-color: #d8d5d5;
    border-radius: 1rem;
}

.filters-pills:hover {
    background-color: #b7b6b6;
}