.container {
    width: 90%;
    margin: auto;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
}
